%html
  %header
    .logo
      = link_to "BRIAN" , "/"
    .nav
      %ul
        %li
          = link_to "blog", blogposts_path
        %li
          = link_to "projects", "#"
        %li
          = link_to "photos", "#"
        %li
          = link_to "contact", contact_path
  %title
    Brian Wu
  = stylesheet_link_tag "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  = yield
